body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    text-align: center;
}
.container a {
    background-color: rgb(58, 247, 130);
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
}

.container a:hover{
    background-color: rgb(45, 206, 107);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}