html, body {
    margin: 0;
    padding: 0;
}


header{
background-color: orangered;
padding: 15px;
color: #fff;
text-align: center;
}

header h1{
    margin-top: 0;
}
.btn {
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    text-transform: uppercase;
}
.btn:hover {
background-color: #fff;
}


.container {
    padding: 16px;
    background-color: #f4f4f4;
}

section {
background-color: #fff;
padding: 16px;
border-radius: 5px;
margin: 16px, 0;
box-shadow: 0 2px 4px rgba(0, 0 , 0, 5);}

.last {
margin-bottom: 50px;
}

h2{
    border-bottom: 2px solid #af6b4c;
    padding-bottom: 8px;
}

footer{
    background-color: #af6b4c;
    padding: 5px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}